<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assistant.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @assistant.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @assistant.date_of_birth %>
</p>

<p>
  <strong>Marital:</strong>
  <%= @assistant.marital %>
</p>

<p>
  <strong>Idcard:</strong>
  <%= @assistant.idcard %>
</p>

<p>
  <strong>Nacionality:</strong>
  <%= @assistant.nacionality %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @assistant.occupation %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @assistant.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @assistant.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @assistant.email %>
</p>

<p>
  <strong>Contactperson:</strong>
  <%= @assistant.contactperson %>
</p>

<p>
  <strong>Status:</strong>
  <%= @assistant.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @assistant.user %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
